.et_pb_ajax_login .et_pb_ajax_login_panel {
    display: none;
    left: 36%;
    padding: 10px;
    position: fixed;
    top: 25%;
    width: 25%;
}

.et_pb_ajax_login .et_pb_newsletter_form.et_pb_login_form p {
    margin-bottom: 5px;
}

.et_pb_ajax_login #wp-opauth-openid-form {
	display: none;
}

.et_pb_ajax_login .wp-opauth-login-strategy {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    list-style-type: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.et_pb_ajax_login .wp-opauth-login-strategy.wp-opauth-login-strategy-Facebook {
    background: #3b5998 none repeat scroll 0 0;
}

.et_pb_ajax_login .wp-opauth-login-strategy.wp-opauth-login-strategy-Twitter {
    background: #00aced none repeat scroll 0 0;
}

.et_pb_ajax_login .wp-opauth-login-strategy.wp-opauth-login-strategy-Google {
    background: #4c89e3 none repeat scroll 0 0;
}

.et_pb_ajax_login .wp-opauth-login-strategy.wp-opauth-login-strategy-GitHub,
.et_pb_ajax_login .wp-opauth-login-strategy.wp-opauth-login-strategy-LoginCidadao {
	display: none;
}