.et_pb_ajax_login .et_pb_ajax_login_panel {
    display: none;
    height: auto !important;
    left: 36%;
    padding: 10px !important;
    position: fixed;
    top: 25%;
    width: 25% !important;
    z-index: 9999;
}

.et_pb_ajax_login .et_pb_newsletter_form.et_pb_login_form p.et_pb_forgot_password {
	margin: 9px 0;
}

.et_pb_ajax_login .et_pb_forgot_password a,
.et_pb_ajax_login .wp-opauth-login-strategy span {
    color: #ffffff;
}

.et_pb_ajax_login .et_pb_newsletter_description {
	font-weight: bolder;
	color: #ffffff
}

.et_pb_ajax_login .et_pb_newsletter_form, .et_pb_newsletter_description {
	width: 100%;
}

.et_pb_ajax_login .et_pb_newsletter_form.et_pb_login_form p {
    margin-bottom: 5px;
}

.et_pb_ajax_login #wp-opauth-openid-form {
	display: none;
}

.et_pb_ajax_login .wp-opauth-login-strategy {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    list-style-type: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin-top: 5px;
}

.et_pb_ajax_login .wp-opauth-login-strategy > a {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
}

.et_pb_ajax_login .wp-opauth-login-strategy.wp-opauth-login-strategy-Facebook {
    background: #3b5998 none repeat scroll 0 0;
}

.et_pb_ajax_login .wp-opauth-login-strategy.wp-opauth-login-strategy-Twitter {
    background: #00aced none repeat scroll 0 0;
}

.et_pb_ajax_login .wp-opauth-login-strategy.wp-opauth-login-strategy-Google {
    background: #4c89e3 none repeat scroll 0 0;
}

.et_pb_ajax_login .wp-opauth-login-title,
.et_pb_ajax_login .wp-opauth-login-strategy.wp-opauth-login-strategy-GitHub,
.et_pb_ajax_login .wp-opauth-login-strategy.wp-opauth-login-strategy-LoginCidadao {
	display: none;
}

.et_pb_ajax_login #wp-opauth-login {
    margin-bottom: 10px;
}

.et_pb_ajax_login .et_pb_forgot_password > a {
    margin-right: 20px;
}

.et_pb_ajax_login ul.wp-opauth-login-strategies {
	padding: 0;
}

.second-register-painel {
    background-color: rgba(71, 71, 71, 0.9);
    display: block;
    height: auto;
    left: 30%;
    padding: 20px;
    position: fixed;
    text-align: center;
    top: 22%;
    width: 20%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #888888;
}

.second-register-painel > p {
    margin: 4px 0;
}

.second-register-painel input, .second-register-painel select {
    width: 100%;
    padding-left: 10px;
}

.second-register-painel .close-button {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    color: #ffffff;
    font-weight: bold;
    right: 8px;
    top: 6px;
}

.second-register-painel .submit-button {
    background-color: #78485f;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    position: relative;
    width: 100%;
}

.second-register-painel .user-name {
    display: block;
    font-weight: bolder;
    padding-left: 10px;
    position: relative;
    width: 100%;
    background-color: #ccc;
}

.second-register-painel input:disabled {
	background-color: #ccc;
}

.second-register-painel .invalid {
    border: 2px dotted red;
}

.second-register-painel .user-email {
    display: block;
    font-weight: bolder;
    padding-left: 10px;
    position: relative;
    width: 100%;
}

@media (max-width: 980px) {
    .et_pb_ajax_login .et_pb_ajax_login_panel {
	    font-size: 0.4em;
	    top: 25%;
	    width: 35% !important;
	    left:25%;
	}
}

@media (max-width: 680px) {
    .et_pb_ajax_login .et_pb_ajax_login_panel {
	    font-size: 0.4em;
	    top: 25%;
	    width: 60% !important;
	    left:18%;
	}
}

@media (max-width: 400px) {
    .et_pb_ajax_login .et_pb_ajax_login_panel {
	    font-size: 0.4em;
	    top: 10%;
	    width: 100% !important;
	    left:0;
	}
}